table.simple {
	border-collapse: separate;
	border-spacing: 1px;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
}
table.simple th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #efefef;
}
table.simple td {
	width: 500px;
	padding: 20px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

input.shadow, textarea.shadow, select.shadow {
	border:0;
	padding:10px;
	font-size:1.0em;
	font-family:Arial, sans-serif;
	border:solid 1px #ccc;
	margin:0 0 20px;
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

input.shadow {
	width:300px;
}

textarea.shadow {
	width:500px;
	resize:none;
}

select.shadow {
	width:100px;
}